In [2]:
import pandas as pd
import numpy as np

## I. Loading data

#### 2019 data

In [3]:
df19 = pd.read_csv('full_2019.csv', sep=',', low_memory=False)

#### 2020 data

In [4]:
df20 = pd.read_csv('full_2020.csv', sep=',', low_memory=False)

## II. Cleaning & transforming data

In [5]:
# Delete empty columns

df19_dropna = df19.dropna(axis=1, how="all")
df20_dropna = df20.dropna(axis=1, how="all")

In [6]:
df20_dropna

,id_mutation,date_mutation,numero_disposition,nature_mutation,valeur_fonciere,adresse_numero,adresse_suffixe,adresse_nom_voie,adresse_code_voie,code_postal,...,type_local,surface_reelle_bati,nombre_pieces_principales,code_nature_culture,nature_culture,code_nature_culture_speciale,nature_culture_speciale,surface_terrain,longitude,latitude
0,2020-1,2020-01-07,1,Vente,8000.0,NaN,NaN,FORTUNAT,B063,1250.0,...,NaN,NaN,NaN,T,terres,NaN,NaN,1061.0,5.323540,46.171919
1,2020-2,2020-01-02,1,Vente,2175.0,NaN,NaN,TERRES DES CINQ SAULES,B124,1290.0,...,NaN,NaN,NaN,BT,taillis simples,NaN,NaN,85.0,4.893436,46.251868
2,2020-2,2020-01-02,1,Vente,2175.0,NaN,NaN,BOIS DU CHAMP RION,B006,1290.0,...,NaN,NaN,NaN,T,terres,NaN,NaN,1115.0,4.899919,46.235327
3,2020-2,2020-01-02,1,Vente,2175.0,NaN,NaN,EN COROBERT,B025,1290.0,...,NaN,NaN,NaN,T,terres,NaN,NaN,1940.0,4.882347,46.246519
4,2020-2,2020-01-02,1,Vente,2175.0,NaN,NaN,TERRES DES CINQ SAULES,B124,1290.0,...,NaN,NaN,NaN,T,terres,NaN,NaN,1148.0,4.894688,46.251820
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2459555,2020-1075291,2020-12-16,1,Vente,1937500.0,24.0,NaN,RUE CHANOINESSE,1748,75004.0,...,Appartement,87.0,4.0,S,sols,NaN,NaN,447.0,2.350481,48.854293
2459556,2020-1075291,2020-12-16,1,Vente,1937500.0,24.0,NaN,RUE CHANOINESSE,1748,75004.0,...,DÃ©pendance,NaN,0.0,S,sols,NaN,NaN,447.0,2.350481,48.854293
2459557,2020-1075291,2020-12-16,1,Vente,1937500.0,24.0,NaN,RUE CHANOINESSE,1748,75004.0,...,Appartement,82.0,2.0,S,sols,NaN,NaN,447.0,2.350481,48.854293
2459558,2020-1075291,2020-12-16,1,Vente,1937500.0,24.0,NaN,RUE CHANOINESSE,1748,75004.0,...,DÃ©pendance,NaN,0.0,S,sols,NaN,NaN,447.0,2.350481,48.854293
2459559,2020-1075292,2020-10-08,1,Adjudication,255000.0,39.0,NaN,RUE SAINT-SAUVEUR,8752,75002.0,...,Appartement,21.0,1.0,NaN,NaN,NaN,NaN,NaN,2.348149,48.865935

In [44]:
# Choice of columns

df19_clean = df19[['numero_disposition','date_mutation','nature_mutation', 'valeur_fonciere','code_postal', 'nom_commune', 'code_departement','nombre_lots','type_local','surface_reelle_bati','nombre_pieces_principales','surface_terrain','longitude','latitude']]
df20_clean = df20[['numero_disposition','date_mutation','nature_mutation', 'valeur_fonciere','code_postal', 'nom_commune', 'code_departement','nombre_lots','type_local','surface_reelle_bati','nombre_pieces_principales','surface_terrain','longitude','latitude']]

In [45]:
df20_clean

,numero_disposition,date_mutation,nature_mutation,valeur_fonciere,code_postal,nom_commune,code_departement,nombre_lots,type_local,surface_reelle_bati,nombre_pieces_principales,surface_terrain,longitude,latitude
0,1,2020-01-07,Vente,8000.0,1250.0,CeyzÃ©riat,01,0,NaN,NaN,NaN,1061.0,5.323540,46.171919
1,1,2020-01-02,Vente,2175.0,1290.0,Laiz,01,0,NaN,NaN,NaN,85.0,4.893436,46.251868
2,1,2020-01-02,Vente,2175.0,1290.0,Laiz,01,0,NaN,NaN,NaN,1115.0,4.899919,46.235327
3,1,2020-01-02,Vente,2175.0,1290.0,Laiz,01,0,NaN,NaN,NaN,1940.0,4.882347,46.246519
4,1,2020-01-02,Vente,2175.0,1290.0,Laiz,01,0,NaN,NaN,NaN,1148.0,4.894688,46.251820
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2459555,1,2020-12-16,Vente,1937500.0,75004.0,Paris 4e Arrondissement,75,0,Appartement,87.0,4.0,447.0,2.350481,48.854293
2459556,1,2020-12-16,Vente,1937500.0,75004.0,Paris 4e Arrondissement,75,0,DÃ©pendance,NaN,0.0,447.0,2.350481,48.854293
2459557,1,2020-12-16,Vente,1937500.0,75004.0,Paris 4e Arrondissement,75,0,Appartement,82.0,2.0,447.0,2.350481,48.854293
2459558,1,2020-12-16,Vente,1937500.0,75004.0,Paris 4e Arrondissement,75,0,DÃ©pendance,NaN,0.0,447.0,2.350481,48.854293
2459559,1,2020-10-08,Adjudication,255000.0,75002.0,Paris 2e Arrondissement,75,2,Appartement,21.0,1.0,NaN,2.348149,48.865935

In [46]:
# Updating some types

pd.options.mode.chained_assignment = None  # default='warn'

df19_clean['date_mutation'] = pd.to_datetime(df19_clean['date_mutation'])
df20_clean['date_mutation'] = pd.to_datetime(df20_clean['date_mutation'])

df19_clean['code_postal'] = df19_clean['code_postal'].apply(lambda x: str(x)[:-2].zfill(5))
df20_clean['code_postal'] = df20_clean['code_postal'].apply(lambda x: str(x)[:-2].zfill(5))

df19_clean['code_departement'] = df19_clean['code_departement'].apply(lambda x: str(x).zfill(2))
df20_clean['code_departement'] = df20_clean['code_departement'].apply(lambda x: str(x).zfill(2))

#df_clean['Surface terrain'] = df_clean['Surface terrain'].fillna(0)

In [ ]:
# Add column with department name

dep = pd.read_csv("departements-france.csv") # Source : https://www.data.gouv.fr/fr/datasets/departements-de-france/

df19_clean["nom_departement"] = df19_clean["code_departement"].map(dep.set_index("code_departement")["nom_departement"])
df20_clean["nom_departement"] = df20_clean["code_departement"].map(dep.set_index("code_departement")["nom_departement"])

In [ ]:
# Drop duplicates

df19_clean = df19_clean.drop_duplicates()
df20_clean = df20_clean.drop_duplicates()

In [47]:
df20_clean

,numero_disposition,date_mutation,nature_mutation,valeur_fonciere,code_postal,nom_commune,code_departement,nombre_lots,type_local,surface_reelle_bati,nombre_pieces_principales,surface_terrain,longitude,latitude,nom_departement
0,1,2020-01-07,Vente,8000.0,01250,CeyzÃ©riat,01,0,NaN,NaN,NaN,1061.0,5.323540,46.171919,Ain
1,1,2020-01-02,Vente,2175.0,01290,Laiz,01,0,NaN,NaN,NaN,85.0,4.893436,46.251868,Ain
2,1,2020-01-02,Vente,2175.0,01290,Laiz,01,0,NaN,NaN,NaN,1115.0,4.899919,46.235327,Ain
3,1,2020-01-02,Vente,2175.0,01290,Laiz,01,0,NaN,NaN,NaN,1940.0,4.882347,46.246519,Ain
4,1,2020-01-02,Vente,2175.0,01290,Laiz,01,0,NaN,NaN,NaN,1148.0,4.894688,46.251820,Ain
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2459554,1,2020-12-16,Vente,1937500.0,75004,Paris 4e Arrondissement,75,0,Appartement,27.0,2.0,447.0,2.350481,48.854293,Paris
2459555,1,2020-12-16,Vente,1937500.0,75004,Paris 4e Arrondissement,75,0,Appartement,87.0,4.0,447.0,2.350481,48.854293,Paris
2459556,1,2020-12-16,Vente,1937500.0,75004,Paris 4e Arrondissement,75,0,DÃ©pendance,NaN,0.0,447.0,2.350481,48.854293,Paris
2459557,1,2020-12-16,Vente,1937500.0,75004,Paris 4e Arrondissement,75,0,Appartement,82.0,2.0,447.0,2.350481,48.854293,Paris
2459559,1,2020-10-08,Adjudication,255000.0,75002,Paris 2e Arrondissement,75,2,Appartement,21.0,1.0,NaN,2.348149,48.865935,Paris